
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

app_game/node_modules
gawibawibo_contracts/contract/target
gawibawibo_contracts/dev
app_game/build

# misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.cargo

npm-debug.log*
yarn-debug.log*
yarn-error.log*
